crash-*
.vscode/
build/
freesurfer_binaries/
*egg-info/
*__pycache__*
*.egg-info*
*.vscode/
venv/
*_env/
*strace*
run_docker_*
testdata/

# .gitignore

# Sphinx build directory
docs/_build/

# Sphinx cache
docs/.doctrees
docs/.buildinfo
